.ckmint__footer p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    display: flex;
    justify-content: center;
    background: var(--color-footer);
}