.form-container {
    color: #fff;
}

.form-container label,
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.form-container input{

}