.form-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem;
}

.form-container label{
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

.form-container label input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 1rem;
    width: 5rem;
    background-color: white;
    border-radius: 5px;
    color: green;
}

.submit{
    justify-content: center;
}
