.ckmint__header {
    display: flex;
}

.ckmint__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
}

.ckmint__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    
}