.ckmint__header {
    display: flex;
}

.ckmint__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
}

.ckmint__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.ckmint__header-content p {
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
}